<% layout('layout/boilerplate') %>
<h1 class="text-center">Edit Car</h1>
<div class="col-6 offset-3">
<form class="row g-3 validate-form" action="/cars/<%= car.id %>?_method=PUT" method="POST" novalidate>
    <div>
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="car[name]" value="<%=car.name%>" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div>
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
            <div class="input-group-text">$</div>
            <input type="text" class="form-control" id="price" name="car[price]" value="<%=car.price%>" required>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div>
        <label for="gear" class="form-label">Gear</label>
        <input type="text" class="form-control" id="gear" name="car[gear]" value="<%=car.gear%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <div>
        <label for="seat" class="form-label">Seat</label>
        <input type="text" class="form-control" id="seat" name="car[seat]" value="<%=car.seat%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <div>
        <label for="type" class="form-label">Type</label>
        <input type="text" class="form-control" id="type" name="car[type]" value="<%=car.type%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <div>
        <label for="image" class="form-label">Image</label>
        <input type="text" class="form-control" id="image" name="car[image]" value="<%=car.image%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-danger" href="/cars/<%= car.id %>">Back</a>
    </div>
  </form>
</div>